<!doctype html>
<html lang='en'>

<head>
    <%- include('./partials/meta.ejs') %>
    <title>Project</title>
    <%- include('./partials/style.ejs') %>
    
</head>

<body class='line-numbers'>
    <div class='container mt-3'>

        <h1 class='text-center'>Chapter 8: Project</h1>
        <%- include('./partials/top_controls.ejs') %>
        
        <h2>Videos</h2>
        <ol>
            <h3><li>Overview & Setup</li></h3> 
            <div class='border p-3 mb-3 hide'>
                <p>Module electron-window-state <a href="https://www.npmjs.com/package/electron-window-state">docs</a></p>
                <p>Tutorial A Complete Guide to Flexbox <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">docs</a></p>

            </div>
            <h3><li>Submitting New Items</li></h3> 
            <div class='border p-3 mb-3 hide'>
                

            </div>
            <h3><li>Retrieving Item Details</li></h3> 
            <div class='border p-3 mb-3 hide'>
                

            </div>
            <h3><li>Showing & Persisting Items</li></h3> 
            <div class='border p-3 mb-3 hide'>
                

            </div>
            <h3><li>Selecting Items for Opening</li></h3> 
            <div class='border p-3 mb-3 hide'>
                <p>Tutorial Using data attributes <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes">docs</a></p>

            </div>
            <h3><li>Opening Items in Reader</li></h3> 
            <div class='border p-3 mb-3 hide'>
                

            </div>
            <h3><li>Deleting Items</li></h3> 
            <div class='border p-3 mb-3 hide'>
                <p>MDN Window.postMessage <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage">docs</a></p>

            </div>
            <h3><li>Application Menu</li></h3> 
            <div class='border p-3 mb-3 hide'>
                

            </div>

        </ol>

        <%- include('./partials/bottom_controls.ejs') %>
        
    </div> 
    <%- include('./partials/scripts.ejs') %>
</body>

</html>