<!doctype html>
<html lang='en'>

<head>
    <%- include('./partials/meta.ejs') %>
    <title>Fundamental Ideas Around Microservices</title>
    <%- include('./partials/style.ejs') %>
    
</head>

<body class='line-numbers'>
    <div class='container mt-3'>

        <h1 class='text-center'>Chapter 1: Fundamental Ideas Around Microservices</h1>
        <%- include('./partials/top_controls.ejs') %>
        <h2>Videos</h2>
        <ol>
            <h3><li>How to Get Help</li></h3>
            <div class="border p-3 mb-3 hide">

            </div>
            <h3><li>What Is a Microservice</li></h3>
            <div class="border p-3 mb-3 hide">

            </div>
            <h3><li>Data in Microservices</li></h3>
            <div class="border p-3 mb-3 hide">

            </div>
            <h3><li>Big Problems with Data</li></h3>
            <div class="border p-3 mb-3 hide">

            </div>
            <h3><li>Sync Communication Between Services</li></h3>
            <div class="border p-3 mb-3 hide">

            </div>
            <h3><li>Event-Based Communication</li></h3>
            <div class="border p-3 mb-3 hide">

            </div>
            <h3><li>A Crazy Way of Storing Data</li></h3>
            <div class="border p-3 mb-3 hide">

            </div>
            <h3><li>Pros and Cons of Async Communication</li></h3>
            <div class="border p-3 mb-3 hide">

            </div>
           
        </ol>

        <%- include('./partials/bottom_controls.ejs') %>
        
    </div> 
    <%- include('./partials/scripts.ejs') %>
</body>

</html>