<!doctype html>
<html lang='en'>

<head>
    <%- include('./partials/meta.ejs') %>
    <title>Application Distribution</title>
    <%- include('./partials/style.ejs') %>
    
</head>

<body class='line-numbers'>
    <div class='container mt-3'>

        <h1 class='text-center'>Chapter 9: Application Distribution</h1>
        <%- include('./partials/top_controls.ejs') %>
        
        <h2>Videos</h2>
        <ol>
            <h3><li>Distribution Overview</li></h3> 
            <div class='border p-3 mb-3 hide'>
                
            </div>
            <h3><li>Electron-Builder</li></h3> 
            <div class='border p-3 mb-3 hide'>
                <p>CloudConvert <a href="https://cloudconvert.com/">docs</a></p>
                <p>Docs electron-builder <a href="https://www.electron.build/">docs</a></p>
                
            </div>
            <h3><li>Code Signing</li></h3> 
            <div class='border p-3 mb-3 hide'>
                <p>Apple Developer Program <a href="https://developer.apple.com/programs/">docs</a></p>
                <p>Windows Code Signing Certificates <a href="https://comodosslstore.com/code-signing">docs</a></p>
                
            </div>
            <h3><li>Publishing Releases</li></h3> 
            <div class='border p-3 mb-3 hide'>
                <p>Guide electron-builder Auto Update <a href="https://www.electron.build/auto-update">docs</a></p>
                <p>Introduction to Semantic Versioning <a href="https://www.geeksforgeeks.org/introduction-semantic-versioning/">docs</a></p>
                <p>Guide electron-builder Publish <a href="https://www.electron.build/auto-update">docs</a></p>
                
            </div>
            <h3><li>AutoUpdater Module</li></h3> 
            <div class='border p-3 mb-3 hide'>
                <p>Docs electron-log <a href="https://github.com/megahertz/electron-log">docs</a></p>
                <p>Guide electron-builder Auto Update Debugging <a href="https://www.electron.build/auto-update#debugging">docs</a></p>
                
            </div>
            <h3><li>App Update</li></h3> 
            <div class='border p-3 mb-3 hide'>
                
            </div>
            <h3><li>Release & Update</li></h3> 
            <div class='border p-3 mb-3 hide'>
                
            </div>

        </ol>

        <%- include('./partials/bottom_controls.ejs') %>
        
    </div> 
    <%- include('./partials/scripts.ejs') %>
</body>

</html>